<h1>Posts</h1>
<ol>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post.url, target: 'blank' %> <span class="url">(<%= pretty_url(post.url) %>)</span><br />
    </li>
  <% end %>
</ol>


