<div class="container">
  <h1 style="text-align: center;">New Post</h1>
  <div class="form">
    <%= form_for(@post) do |f| %>
      <div class="form-inputs">
        <%= f.text_field :title, class: "form-control", placeholder: "Enter a title for your post" %>
        <%= f.text_field :url, class: "form-control", placeholder: "Enter url (Must have http://)" %>    
      </div> 
      <%= f.submit %>
    <% end %>
  </div>
</div>
